*.h text eol=lf
*.hpp text eol=lf
*.cpp text eol=lf
*.c text eol=lf
*.cc text eol=lf

*.in text eol=lf
*.rc text eol=lf
*.qrc text eol=lf
*.ui text eol=lf
*.py text eol=lf
*.cmake text eol=lf
*.sh text eol=lf
*.yml text eol=lf
*.md text eol=lf
*.txt text eol=lf

